<p id="notice"><%= notice %></p>

<h1>Products</h1>


    
    <div class="container">
  <div class="row">
      <% @products.each do |product| %>
    <div class="col-sm-2 col-md-4">
      <a href="#"><h1><%= product.name %></h1></a>
        <%= image_tag(product.image_url ? product.image_url : 'http://placehold.it/800x600', class: "img-responsive") %>
        <p>put product description here</p>
    </div><!-- /col -->
    <% end %>
  </div>
</div>



 <!--- <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.color %></td> 
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>

<%= link_to 'New Product', new_product_path %>


